@{

    ViewData["Title"] = "Example Controler İndex sayfası ";
    Layout = "ExampleLayout";
}

@section header {

    <p>bu kodlar header ın altına eklenecek</p>
}
    @section footer {

    <p>bu kodlar footer ın altına eklenecek</p>
}
<div>Bu sayfa Example controller index sayfası </div>