
@{
    ViewData["Title"] = "Update";
}

<h1>Ürün Güncelleme </h1>
@model Product
     <form asp-controller="Products" asp-action="Update" asp-route-productId="@Model.id" method="post">

        <!--  <input type="hidden" asp-for="id" /> -->
    <label>Ürün İsmi :</label>
    <input type="text" asp-for="Name"  /><br />

    <label>Ürün Fiyat :</label>
    <input type="text" asp-for="Price" /><br />

    <label>Ürün Stok :</label>
    <input type="text" asp-for="Stock" /><br />

    <label>Ürün Renk :</label>
    <input type="text" asp-for="color" /><br />


    <div class="form-floating" mb-3>
        <textarea class="form-control" placeholder="Ürün Açıklama" asp-for="Description"></textarea>
        <label asp-for="Description">Ürün AÇıklama</label>
    </div>


    <button type="submit">ÜRÜN GÜNCELLE</button>
</form>


